.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.temp-cold {
  background: linear-gradient(
    180deg,
    rgba(0, 249, 255, 0.6446953781512605) 3%,
    rgba(0, 24, 140, 0.6783088235294117) 50%,
    rgba(224, 224, 224, 1) 88%
  );
}

.temp-mild {
  background: linear-gradient(
    180deg,
    rgba(176, 255, 188, 0.6446953781512605) 3%,
    rgba(0, 140, 124, 0.6783088235294117) 50%,
    rgba(224, 224, 224, 1) 88%
  );
}

.temp-warm {
  background: linear-gradient(
    180deg,
    rgba(255, 236, 176, 0.6446953781512605) 3%,
    rgba(255, 140, 0, 0.6783088235294117) 50%,
    rgba(224, 224, 224, 1) 88%
  );
}

.temp-hot {
  background: linear-gradient(
    180deg,
    rgba(255, 176, 176, 0.6446953781512605) 3%,
    rgba(255, 0, 0, 0.6783088235294117) 50%,
    rgba(224, 224, 224, 1) 88%
  );
}
